<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.escuelaing.arsw.markethub.persistence.dao.ImagenDAO">

    <!-- Prefijo img_ -->

    <insert id="insertImage" parameterType="map" useGeneratedKeys="true" keyProperty="img.id" keyColumn="id">
        INSERT INTO imagenes (producto, url)
        VALUES (#{img.producto}, #{img.url})
    </insert>

    <resultMap id="imgResult" type="Imagen">
        <id property="id" column="img_id" />
        <result property="producto" column="img_producto" />
        <result property="url" column="img_url" />
    </resultMap>

</mapper>