<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.escuelaing.arsw.markethub.persistence.DAO.ImagenDAO">

    <!-- Prefijo img_ -->

    <select id="getLatestId" resultType="int">
        SELECT 
            id AS img_id
        FROM imagenes
        ORDER BY img_id DESC 
        LIMIT 1
    </select>

    <insert id="insertImage" parameterType="map">
        INSERT INTO imagenes (producto, imagen)
        VALUES (#{img.producto.id}, #{img.imagen})
    </insert>

</mapper>