<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.escuelaing.arsw.markethub.persistence.DAO.ProductoDAO">

    <!-- Prefijo prod_ -->

    <sql id="selectProducts">
        SELECT prod.id          AS prod_id,
               prod.nombre      AS prod_nombre,
               prod.precio      AS prod_precio,
               prod.descripcion AS prod_descripcion,
               prod.puntaje     AS prod_puntaje,
               prod.cantidad    AS prod_cantidad,

               cat.nombre       AS cat_nombre,
               cat.descripcion  AS cat_descripcion,

               img.id           AS img_id,
               img.producto     AS img_producto,
               img.url          AS img_url
        FROM productos prod
                 JOIN imagenes img ON img.producto = prod.id
                 JOIN categorias cat ON prod.categoria = cat.nombre
    </sql>

    <select id="getAllProducts" resultMap="prodResult">
        <include refid="selectProducts" />
    </select>

    <select id="getProductsByRating" resultMap="prodResult">
        <include refid="selectProducts" />
        ORDER BY prod.puntaje DESC
    </select>

    <select id="getProductsByLatest" resultMap="prodResult">
        <include refid="selectProducts" />
        ORDER BY prod.id DESC
    </select>

    <select id="getProductById" resultMap="prodResult">
        <include refid="selectProducts" />
        WHERE prod.id = #{id}
    </select>

    <insert id="insertProduct" parameterType="map" useGeneratedKeys="true" keyProperty="prod.id" keyColumn="id">
        INSERT INTO productos (categoria, nombre, precio, descripcion, puntaje, cantidad)
        VALUES (#{prod.categoria.nombre}, #{prod.nombre}, #{prod.precio}, #{prod.descripcion}, #{prod.puntaje},
                #{prod.cantidad})
    </insert>

    <resultMap id="prodResult" type="Producto">
        <id property="id" column="prod_id" />
        <result property="nombre" column="prod_nombre" />
        <result property="precio" column="prod_precio" />
        <result property="descripcion" column="prod_descripcion" />
        <result property="puntaje" column="prod_puntaje" />
        <result property="cantidad" column="prod_cantidad" />

        <association property="categoria" resultMap="edu.escuelaing.arsw.markethub.persistence.DAO.CategoriaDAO.categoryResult" />
        <collection property="imagenes" ofType="Imagen" resultMap="edu.escuelaing.arsw.markethub.persistence.DAO.ImagenDAO.imgResult" />
    </resultMap>

</mapper>