<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.escuelaing.arsw.markethub.persistence.dao.UserMHDAO">

    <!-- Prefijo usr_ -->

    <select id="getUserByUsername" resultMap="UserResult">
        SELECT usr.username      AS usr_username,
               usr.documento     AS usr_documento,
               usr.telefono      AS usr_telefono,
               usr.email         AS usr_email,
               usr.nombre        AS usr_nombre,
               usr.edad          AS usr_edad,
               usr.password      AS usr_password,
               usr.direccion     AS usr_direccion,
               usr.tipodocumento AS usr_tipodocumento,
               rol.id            AS rol_id,
               rol.nombre        AS rol_nombre,
               rol.descripcion   AS rol_descripcion
        FROM usuarios AS usr
                 JOIN rol ON usr.rol = rol.id
        WHERE usr.username = #{usernameOrEmail}
           OR usr.email = #{usernameOrEmail}
    </select>

    <insert id="registerUser"  parameterType="map">
        INSERT INTO usuarios(username, documento, telefono, email, nombre, edad, "password", direccion, tipodocumento, rol)
        VALUES(#{user.username}, #{user.documento}, #{user.telefono}, #{user.email}, 
                #{user.nombre}, #{user.edad}, #{user.passwoed}, #{user.direccion}, #{user.tipodocumento}, #{user.role.id});
    </insert>

    <resultMap id="UserResult" type="UserMH">
        <result property="username" column="usr_username" />
        <result property="documento" column="usr_documento" />
        <result property="telefono" column="usr_telefono" />
        <result property="email" column="usr_email" />
        <result property="nombre" column="usr_nombre" />
        <result property="edad" column="usr_edad" />
        <result property="password" column="usr_password" />
        <result property="direccion" column="usr_direccion" />
        <result property="tipodocumento" column="usr_tipodocumento" />
        <association property="role" resultMap="edu.escuelaing.arsw.markethub.persistence.dao.RolDAO.RolResult" />
    </resultMap>

</mapper>