<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8"/>
    <meta content="Pagina de modificación de Cuenta" name="description"/>
    <meta content="MarketHub" name="copyright"/>
    <meta content="noindex" name="robots"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <link href="https://fonts.gstatic.com" rel="preconnect"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet"/>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

    <link href="/img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
    <link href="/css/toastr.min.css" rel="stylesheet"/>

    <script crossorigin="anonymous" src="https://kit.fontawesome.com/e8e93dbb30.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/util.js"></script>
    <script src="/js/front.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/apiclient.js"></script>
    <script src="/js/toastr.min.js"></script>
    <script>
        window.onload = front.loadUserInfo;
    </script>
    <title>Modificacion de Cuenta</title>
</head>

<body>
<!-- Parte superior de la pagina, donde se eneucntra la barra de navegación -->
<div class="container">
    <div class="container-navbar" id="barrita"></div>
</div>
<!-- Contenido tabla de registro-->
<div class="account-page">
    <!--Modificar Cuenta-->
    <div class="container">
        <div style="margin: 50px auto 100px auto; max-width: 800px;">
            <main>
                <h2>Configuración</h2>
                <div style="margin: 20px 0 0 10px"></div>
                <form id="formRegistrarUsr" onsubmit="return false">
                    <div class="form-group">
                        <label for="username">Nombre de Usuario</label>
                        <input autocomplete="off" autofocus class="form-control" id="username" name="username"
                               placeholder="Nombre de usuario" readonly type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input autocomplete="off" autofocus class="form-control" id="email" name="email"
                               placeholder="Email" type="email"/>
                    </div>

                    <div class="form-row">
                        <div class="form-group inline70">
                            <label for="nombre">Nombre</label>
                            <input autocomplete="off" autofocus class="form-control" id="nombre" name="nombre"
                                   placeholder="Nombre" readonly type="text"/>
                        </div>

                        <div class="form-group inline25">
                            <label for="edad">Edad</label>
                            <input autocomplete="off" autofocus class="form-control" id="edad" min="18"
                                   name="edad" placeholder="Edad" readonly type="number"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="telefono">Teléfono</label>
                        <input autocomplete="off" autofocus class="form-control" id="telefono" name="telefono"
                               placeholder="Teléfono" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="direccion">Dirección</label>
                        <input autocomplete="off" autofocus class="form-control" id="direccion" name="direccion"
                               placeholder="Dirección" type="text"/>
                    </div>

                    <div class="form-row">
                        <div class="form-group inline25">
                            <label for="tipoDoc">Tipo de Documento</label>
                            <input autocomplete="off" autofocus class="form-control" id="tipoDoc" name="tipoDoc"
                                   placeholder="Tipo Documento" readonly type="text"/>
                        </div>

                        <div class="form-group inline70">
                            <label for="documento">Documento</label>
                            <input autocomplete="off" autofocus class="form-control" id="documento" min="0"
                                   name="documento" placeholder="Documento" readonly type="number"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="passwordN">Contraseña Nueva</label>
                        <input autocomplete="off" autofocus class="form-control" id="passwordN" name="passwordN"
                               placeholder="Contraseña" type="password"/>
                    </div>

                    <div class="form-group">
                        <label for="confirm">Confirmar Contraseña Nueva</label>
                        <input autocomplete="off" autofocus class="form-control" id="confirm" name="confirm"
                               placeholder="Contraseña" type="password"/>
                    </div>

                    <div class="submit_btn_wrapper">
                        <button class="container-row__2-btn" id="act_submit_btn"
                                onclick="app.updateUserAccount()">Actualizar
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
    <!--Eliminar Cuenta-->
    <div class="container">
        <div style="margin: 50px auto 100px auto; max-width: 800px;">
            <main>
                <h2>Eliminar Cuenta</h2>
                <div style="margin: 20px 0 0 10px"></div>
                <form id="formEliminarUser" onsubmit="return false">
                    <div class="form-group">
                        <label for="usernameE">Nombre de Usuario</label>
                        <input autocomplete="off" autofocus class="form-control" id="usernameE" name="usernameE"
                               placeholder="Nombre de usuario" type="text"/>
                    </div>

                    <div class="form-group">
                        <label for="passwordE">Contraseña</label>
                        <input autocomplete="off" autofocus class="form-control" id="passwordE" name="passwordE"
                               placeholder="Contraseña" type="password"/>
                    </div>

                    <div class="form-group">
                        <label for="confirmE">Confirmar Contraseña </label>
                        <input autocomplete="off" autofocus class="form-control" id="confirmE" name="confirmE"
                               placeholder="Contraseña" type="password"/>
                    </div>

                    <div class="submit_btn_wrapper">
                        <button class="container-row__2-btn" id="elm_submit_btn"
                                onclick="app.deleteUser()">Eliminar Cuenta
                        </button>
                    </div>
                </form>
            </main>
        </div>
    </div>
</div>

<!-- Pie de pagina -->
<div class="footer">
    <div class="container">
        <div class="container-row">
            <div class="footer-col-1">
                <h3>Descarga nuestra aplicación</h3>
                <p>Descarga la aplicación en sus versiones:</p>
                <div class="app-logo">
                    <a href="https://github.com/Los-Picateclas-ECI/Proyecto-ARSW-MarketHub-2021-1"><img alt="GitHub"
                                                                                                        src="/img/GitHub.png"/></a>
                    <img alt="AppleStore" src="/img/docker.png"/>
                </div>
            </div>
            <div class="footer-col-2">
                <img alt="LogoLargo" src="/img/logoLarge.png"/>
                <p>
                    MarketHub brinda a sus vendedores una mejor experiencia al momento de vender sus productos.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Contactanos</h3>
                <ul>
                    <li><a href="https://github.com/danielrincon-m">Daniel Rincon</a></li>
                    <li><a href="mailto: paula.guevara-s@mail.escuelaing.edu.co">Paula Guevara</a></li>
                    <li><a href="https://wa.me/573174414419">Andres Calderón</a></li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Síguenos En</h3>
                <ul>
                    <li>
                        <a href="https://github.com/Los-Picateclas-ECI/Proyecto-ARSW-MarketHub-2021-1">Github</a>
                    </li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Facebook</li>
                </ul>
            </div>
        </div>
        <hr/>
        <p class="copyright">Copyright 2020 - MarketHub</p>
    </div>
</div>
</body>

</html>
