<!DOCTYPE html>
<html lang="es">
<div class="navbar-logo">
    <a href="../static/index.html"><img alt="LogoMarketHub" src="../static/img/logoLarge.png" width="125px"></a>
</div>
<nav>
    <ul id="MenuItems">
        <li><a href="../static/index.html">Inicio</a></li>
        <li><a href="products.html">Productos</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="account.html">Cuenta</a></li>
    </ul>
</nav>
<a href="carrito.html"><img alt="IconoCarrito" height="30px" src="../static/images/cart.png" width="30px"></a>
<img alt="MenuResposiveIcon" class="menu-icon" height="30px" onclick="front.menutoggle()" src="../static/images/menu.png">

</html>