<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="Pagina principal de la plataforma MarketHub" name="description">
    <meta content="MarketHub" name="copyright">
    <meta content="index" name="robots">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="./img/favicon.ico" rel="icon" type="image/x-icon" />
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="css/toastr.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/front.js"></script>
    <script src="js/apiclient.js"></script>
    <script src="js/app.js"></script>
    <script src="js/chat.js"></script>
    <script src="js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script>
        window.onload = front.loadHomePage;
    </script>
    <title>MarketHub Chat</title>
</head>

<body>

</body>

</html>
