<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="Pagina de login de la plataforma MarketHub" name="description">
    <meta content="MarketHub" name="copyright">
    <meta content="index" name="robots">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="./img/favicon.ico" rel="icon" type="image/x-icon"/>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="js/front.js"></script>
    <script>
        window.onload = front.loadAll;
    </script>
    <title>MarketHub</title>
</head>

<body>
<!-- Parte superior de la pagina, donde se eneucntra la barra de navegación -->
<div class="header">
    <div class="container">
        <div class="container-navbar" id="barrita"></div>
        <div class="container-row">
            <div class="container-row__2">
                <h1>MarketHub una nueva <br> manera de comprar!</h1>
                <p>Explora nuestra tienda y encuentra todo lo que necesitas.</p>
                <a class="container-row__2-btn" href="./products.html">Explorar Ahora &#8594;</a>
            </div>

            <div class="container-row__2">
                <img alt="ImagenPrincipal" src="./img/loginImg.png">
            </div>
        </div>
    </div>
</div>

<!-- Categorias Estrella -->
<div class="categories">
    <div class="small-container">
        <h2 class="title">Categorías</h2>
        <div class="container-row">
            <div class="container-row__3 specialRow3">
                <img alt="CategoriaRopa" src="./img/ropaCatg.jpg">
            </div>
            <div class="container-row__3 specialRow3">
                <img alt="CategoriaElectro" src="./img/electroCatg.jpg">
            </div>
            <div class="container-row__3 specialRow3">
                <img alt="CategoriaTecno" src="./img/tecnologiaCatg.jpg">
            </div>
        </div>
    </div>
</div>

<!-- Productos Estrella -->
<div class="small-container">
    <h2 class="title">Productos Estrella</h2>
    <div class="container-row">
        <div class="container-row__4">
            <img alt="Producto1" src="./images/product-1.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto2" src="./images/product-2.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto3" src="./images/product-3.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto4" src="./images/product-4.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
    </div>
    <!-- Ultimos Productos -->
    <h2 class="title">Ultimos Productos</h2>
    <div class="container-row">
        <div class="container-row__4">
            <img alt="Producto5" src="./images/product-5.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto6" src="./images/product-6.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto7" src="./images/product-7.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-half-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <div class="container-row__4">
            <img alt="Producto8" src="./images/product-8.jpg">
            <h4>Red Printed T-shirt</h4>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star-o"></i>
            </div>
            <p>$50.00</p>
        </div>
        <!-- Mas productos -->
        <div class="container-row">
            <div class="container-row__4">
                <img alt="Producto9" src="./images/product-9.jpg">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="container-row__4">
                <img alt="Producto10" src="./images/product-10.jpg">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="container-row__4">
                <img alt="Producto11" src="./images/product-11.jpg">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="container-row__4">
                <img alt="Producto12" src="./images/product-12.jpg">
                <h4>Red Printed T-shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>
</div>

<!-- Ofertas -->
<div class="offer">
    <div class="small-container">
        <div class="container-row">
            <div class="container-row__2">
                <img alt="ProductoExclusivo" class="offer-img" src="./images/exclusive.png">
            </div>
            <div class="container-row__2">
                <p>Productos exclusivos disponibles en MarketHub</p>
                <h2>Smart Band 4</h2>
                <small>
                    Texto raro sobre el prodcuto, Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Reiciendis, incidunt porro deleniti laborum nemo deserunt quia ducimus distinctio pariatur,
                    aperiam eveniet in! Sapiente amet voluptas omnis dolores maxime delectus voluptate.<br>
                </small>
                <a class="container-row__2-btn" href="">Comprar Ahora &#8594;</a>
            </div>
        </div>
    </div>
</div>

<!-- Comentarios XD -->
<div class="testimonial">
    <div class="small-container">
        <div class="container-row">
            <div class="container-row__3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ut quae molestiae explicabo error
                    incidunt commodi, nostrum dolorum deleniti esse eum vero, magni quia tempora temporibus corrupti
                    necessitatibus quasi aperiam.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img alt="Usuario1" src="./images/user-1.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="container-row__3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ut quae molestiae explicabo error
                    incidunt commodi, nostrum dolorum deleniti esse eum vero, magni quia tempora temporibus corrupti
                    necessitatibus quasi aperiam.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img alt="Usuario2" src="./images/user-2.png">
                <h3>Sean Parker</h3>
            </div>
            <div class="container-row__3">
                <i class="fa fa-quote-left"></i>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi ut quae molestiae explicabo error
                    incidunt commodi, nostrum dolorum deleniti esse eum vero, magni quia tempora temporibus corrupti
                    necessitatibus quasi aperiam.
                </p>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <img alt="Usuario3" src="./images/user-3.png">
                <h3>Mabel Joe</h3>
            </div>
        </div>
    </div>
</div>

<!-- Marcas -->
<div class="brands">
    <div class="small-container">
        <div class="container-row">
            <div class="container-row__5">
                <img alt="Marca1" src="./images/logo-godrej.png">
            </div>
            <div class="container-row__5">
                <img alt="Marca2" src="./images/logo-oppo.png">
            </div>
            <div class="container-row__5">
                <img alt="Marca3" src="./images/logo-coca-cola.png">
            </div>
            <div class="container-row__5">
                <img alt="Marca4" src="./images/logo-paypal.png">
            </div>
            <div class="container-row__5">
                <img alt="Marca5" src="./images/logo-philips.png">
            </div>
        </div>
    </div>
</div>

<!-- Pie de pagina -->
<div class="footer">
    <div class="container">
        <div class="container-row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Andorid and IOS mobile phone.</p>
                <div class="app-logo">
                    <img alt="PlayStore" src="./images/play-store.png">
                    <img alt="AppleStore" src="./images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img alt="LogoLargo" src="./img/logoLarge.png">
                <p>Our porpouse Is to Sustainably make the plasure and benefirs of sports Accesible to the many.</p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow US</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>YouTube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright">Copyright 2020 - MarketHub</p>
    </div>
</div>

</body>

</html>